<header class="site-header">
  <nav class="nav container">
    <a href="/" class="nav-brand">
      <span class="brand-icon">&#9678;</span>
      Lattice Protocol
    </a>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/api-docs" target="_blank">API Docs</a></li>
    </ul>
  </nav>
</header>
